body {
  background-color: #f0f0f0;
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px 40px;
  margin: 0;
}

a {
  color: black;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
}

.sidebar {
  margin: 60px 0;
}

.name {
  font-size: 58px;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
  color: black;
}

.job-title {
  margin: 12px 0 24px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

body.about .nav a.about,
body.work .nav a.work,
body.contact .nav a.contact {
  font-weight: bold;
}

h1 {
  font-size: 25px;
  font-weight: normal;
  margin: 0 0 30px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
}

.content p,
.content h2,
.content h3 {
  margin: 20px 0 0;
  padding: 0;
}

.content p.icons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.content p.icons i {
  font-size: 20px;
  color: black;
}

.project {
  margin-bottom: 80px;
}

@media (min-width: 1025px) {
  body {
    padding: 100px;
    margin: 0;
  }
  .sidebar {
    position: fixed;
    top: 100px;
    left: 100px;
    margin: 0;
  }

  .name {
    font-size: 95px;
  }
  .job-title {
    font-size: 24px;
  }
  .nav a {
    font-size: 18px;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    max-width: 1800px;
    margin: 0 auto;
  }

  .content {
    width: 50%;
    margin-top: 25px;
  }

  .profile-element {
    display: flex;
  }

  h1 {
    font-size: 30px;
    margin-top: 25px;
  }
  .profile-pic {
    margin-right: 40px;
  }

  .project {
    margin-bottom: 80px;
  }
  .email {
    font-size: 20px;
  }

  .content p.icons {
    gap: 25px;
  }
  .content p.icons i {
    font-size: 25px;
  }
}
