body {
  background-color: #f0f0f0;
  color: black;
}

.container {
  font-family: "Figtree", sans-serif;
  margin: 50px;
}

.name {
  font-size: 58px;
  font-weight: 400;
  text-decoration: none;
  line-height: 2;
  color: black;
  margin-right: 10px;
}
h2 {
  font-size: 20px;
  font-weight: lighter;
  margin: -20px 0 20px 0;
}

.contents {
  display: flex;
  flex-direction: row;
}
.about {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 2;
  color: black;
  margin-right: 10px;
}
.work {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 2;
  color: black;
  margin-right: 10px;
}

.contact {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 2;
  color: black;
  margin-right: 10px;
}
