body {
  background-color: #f0f0f0;
}

.container {
  font-family: "Figtree", sans-serif;
  margin: 185px;
}
.main-element {
  position: fixed;
}
.name {
  font-size: 96px;
  font-weight: 400;
  margin: 0;
}
h2 {
  font-size: 24px;
  font-weight: lighter;
  margin: -30px 0 30px 0;
}
h3 {
  font-size: 40px;
  font-weight: 300;
  margin: 0 0 20px 0;
}

h5 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 10px 0 0 0;
}

.contents {
  display: flex;
  flex-direction: column;
}
a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  line-height: 2;
  color: black;
}

.contact {
  font-weight: 700;
}

.contact-element {
  display: flex;
  justify-content: space-between;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
  margin-top: 90px;
}
.email {
  font-weight: 200;
}

.icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
i {
  display: inline-block;
  font-size: 25px;
  color: black;
  margin-right: 10px;
}
