body {
  background-color: #f0f0f0;
}

.container {
  font-family: "Figtree", sans-serif;
  margin: 185px;
}
.main-element {
  position: fixed;
}
.name {
  font-size: 96px;
  font-weight: 400;
  margin: 0;
}
h2 {
  font-size: 24px;
  font-weight: lighter;
  margin: -30px 0 30px 0;
}

.contents {
  display: flex;
  flex-direction: column;
}
a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  line-height: 2;
  color: black;
}

@media (max-width: 600px) {
  .container {
    margin: 50px;
  }
  .name {
    font-size: 58px;
  }
  h2 {
    font-size: 20px;
    font-weight: lighter;
    margin: -20px 0 10px 0;
  }

  a {
    font-size: 14px;
    font-weight: 400;
  }
}
